/* styles.css */

/* Overall container and image styles */
.Container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    
  }
  
  .Image {
    width: 100%;
    height: 650px;
  }
  
  /* Button container styles */
  .ButtonContainer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
   
  }
  
  /* Button styles */
  .Button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 15px;
    /*background-color: #3498db;*/
    border: 2px solid #3498db; ;
    color: wheat;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
    border: none;
   
  }
  
  .Button:hover {
    background-color: transparent;
    color: #3498db;
  }

  .Button-1{
    background-color:transparent;
    margin-left: 7px;
    border: 1px solid rgb(119, 63, 63) ;
   
  }

  .Button-1:hover{
    background-color:  rgb(119, 63, 63);
    
  }

  